{{> header }}
	{{> nav-arrows }}
	{{> nav }}
		<div class="features__container">
			<div id="features-canvas" class="features__canvas canvas">
				{{> canvas }}
			</div>
			<div class="features__content">
				<div>
					<h2 class="features__product">The {{meta.name}}</h2>
					<h3 class="features__tagline">{{content.tagline}}</h3>
					{{{content.text}}}
					<a class="features__cta" href="personas.html">Why It Means Business</a>
					<a class="features__cta" href="../../contact/">Purchase Device</a>
				</div>
				{{> feature_carousel }}	
			</div>
		</div>
{{> footer}}
