{{> header }}
	{{> nav-arrows}}
	{{> nav }}
		<div class="product__container">
			<header class="product__header product__header--{{meta.slug}}">
				<h1 class="product__name">The {{meta.name}}</h1>
			</header>
			<div class="product__content">
				<div class="product-panel product-panel--features" style="background-image: url('../../imgs/products/{{meta.slug}}/hood.png')">
					<a href="features.html"class="product-panel__button">What's Under The Hood?</a>
				</div>
				<div class="product-panel product-panel--personas" style="background-image: url('../../imgs/products/{{meta.slug}}/persona.png')">
					<a href="personas.html" class="product-panel__button" >Why It Means Business</a>
				</div>
			</div>
		</div>
{{> footer}}
