{{> header}}
	{{> nav-arrows}}
	{{> nav}}
	<div class="split__container">
		<div class="split__slider">
			{{> slider}}
		</div>
		<div class="split__content">{{{content}}}</div>
	</div>
{{> footer}}
