.canvas {
	&__container {
		padding: 0.5rem;
	}

	&__instructions {
		margin: 0 0 2rem;
		&::before {
			content: "Tap to ";
		}
	}

	&__content {
		position: relative;
		display: inline-block;
		width: auto;
	}


	&__image {
		width: 100%;
		max-width: 100%;
	}

	&__node {
		height: 16px;
		padding: 0;
		position: absolute;
		width: 16px;

		text-indent: -99999em;

		background-color: color(white);
		border-radius: 50%;
		color: transparent;
		outline: none;
		
		transition: transform $ANIMATION-DURATION ease-out;

		&::before {
			content: "";
			display: block;
			height: 180%;
			width: 180%;

			position: absolute;
			top: 50%;
			left: 50%;

			border: 2px solid color(white);
			border-radius: inherit;

			transform: translate(-50%, -50%);
			transition: all $ANIMATION-DURATION ease-out;
		}

		&:hover {
			transform: scale(1.2);
			&::before {
				transform: translate(-50%, -50%) scale(2); 
				opacity: 0;
			}
		}

		&--active {
			background-color: color(lightblue);
			transform: scale(1.2);

			&::before {
				border-color: color(lightblue);
			}
		}
	}

	@include media-query(tablet) {
		&__instructions {
			&::before {
				content: "Click to "
			}
		}
	}
}
