.persona {
	$parent: &;

	&:not(:last-of-type) {
		border-bottom: 1px solid color(slate);
	}

	&--active {
		#{$parent}__tile {
			background-color: color(red);
		}
		#{$parent}__overlay {
			opacity: 1;
		}

		#{$parent}__description {
			max-height: 30rem;
			padding: 2.5rem;
		}
	}

	&__tile {
		display: flex;
		height: 20rem;
		position: relative;

		background-color: color(white);
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;

		transition: background-color $ANIMATION-DURATION;
	}

	&__overlay {
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;
		
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		
		opacity: 0;

		transition: opacity $ANIMATION-DURATION;
	}

	&__button {
		margin: auto;
		background-color: transparentize(color(white), 0.3);
		color: color(red);
		vertical-align: middle;
		position: relative;
		z-index: 2;

		&:hover {
			background-color: transparentize(color(white), 0.2);
		}

		&::after {
			content: "\25BC";
			display: inline-block;
			margin-left: 0.3em;

			position: relative;
			top: -0.25em;

			font-size: 0.7em;
		}
	}

	&__description {
		box-sizing: border-box;
		max-height: 0;
		overflow: hidden;
		padding: 0 2.5rem;
		position: relative;

		background-color: color(black);
		color: color(white);

		transition: max-height $ANIMATION-DURATION ease-out, padding $ANIMATION-DURATION ease-out;
	}

	&__cta {
		@include button;
		&:hover {
			background-color: color(red);
		}
	}

	&__close {
		height: 2rem;
		overflow: hidden;
		padding: 0;
		width: 2rem;
		
		position: absolute;
		top: 0;
		right: 0;

		text-indent: -99999em;

		background: color(white) url('../imgs/ui/close.svg') no-repeat center;
		background-size: 80%;

	}

	@include media-query(tablet) {
		&--active {
			#{$parent}__description {
				padding: 4rem;
				max-height: none;
				transform: translateX(0);
				transition: transform $ANIMATION-DURATION ease-out;
			}
		}
		&__tile {
			height: 100%;
		}

		&__button {
			&::after {
				display: none;
			}
		}
		&__description {
			height: 100%;
			max-height: none;
			padding: 4rem;
			width: 50%;

			display: none;
			display: flex;
			flex-direction: column;
			justify-content: center;

			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			
			border-left: 1px solid color(red);
			transform: translateX(100%);

		}
	}
}
