.contact {
	.split__slider {
		display: none;

		@include media-query(tablet) {
			display: flex;
		}
	}

	&__content {
		opacity: 0;
		transition: opacity $ANIMATION-DURATION ease-out;

		&--active {
			opacity: 1;
		}
	}

	&__logo {
		display: block;
		margin: 0.7rem auto;
	}
}
