.features {

	&__container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: color(black);
	}

	&__canvas {
		box-sizing: border-box;
		min-height: 24rem;
		padding: 5rem 2.5rem 0.3rem;

		text-align: center;

		background-color: color(red);
		color: color(white)
	}	

	&__content {
		box-sizing: border-box;
		padding: 1.6rem 2.5rem;
		position: relative;

		background-color: color(black);
		color: color(white);
	}

	&__tagline {
		color: color(red);
		font-weight: 400;
	}

	&__text {
		font-weight: 400;
	}

	&__cta {
		@include button;
		display: block;
		text-align: center;
		margin-bottom: 0.5em;

		&:hover {
			background-color: color(red);
		}
	}

	&__list {
		height: 100%;
		margin: 0;
		padding-left: 0;
		width: 100%;

		position: absolute;
		top: 0;
		right: 0;

		list-style: none;
		
		transform: translateX(100%);
	}
	
	&__close {
		display: none;
		height: 2rem;
		overflow: hidden;
		width: 2rem;
		padding: 0;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;

		text-indent: -99999em;

		background: color(white) url('../imgs/ui/close.svg') no-repeat center; 
		background-size: 80%;
		border: none;

		transform: translateX(-100%);
	}

	&__item {
		box-sizing: border-box;
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;

		transform: translateX(0);
		transition: transform $ANIMATION-DURATION ease-in-out;

		&--active {
			transform: translateX(-100%);
		}
	}

	@include media-query(tablet) {
		&__container {
			height: 100vh;
			display: block;
		}
		&__canvas, &__content {
			float: left;
			height: 100%;
			max-height: none;
			width: 50%;
			padding: 4rem;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__list {
			display: block;
			transform: translateX(100%);
		}

		&__cta {
			display: inline-block;
			&:not(:last-of-type) {
				margin-right: 0.2em;
			}
		}

		&__close {
			top: 2.7rem;
		}

	}
}
