.index {
	color: color(white);
	background-color: color(black);

	&__container {
		@include container;
	}

	&__header {
		@include padded;
		padding-top: 5rem;
		padding-bottom: 3rem;
		
		text-align: center;
		
		background: url("../imgs/index/header.jpg") no-repeat center;
		background-size: cover;
	}

	&__title {
		font-size: 3em;
		line-height: 1.1;
	}

	&__button {
		@include button;
		&:hover {
			background-color: color(red);
		}
	}

	@include media-query(desktop) {
		&__header {
			box-sizing: border-box;
			padding-top: 7rem;
			height: 100vh;
		}
	}
}
