.product {
	$parent: &;
	background-color: color(black);

	&__container {
		height: 100vh;
	}

	&__header {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		height: 40%;
		max-height: 30rem;
		min-height: 24rem;
		padding: 1.6rem;

		text-align: center;

		background-color: color(red);
		background-repeat: no-repeat;
		color: color(white);

		@include media-query(tablet) {
			text-align: left;
		}

		@mixin center {
			justify-content: center;
			
			background-position: center; 
			background-size: contain; 

			@include media-query(tablet) {
				padding: 5rem 1.6rem 1.6rem;
			}
		}

		@mixin side {
			background-position: center top 7.5rem;
			background-size: auto 70%;


			@include media-query(tablet) {
				align-items: center;
				justify-content: flex-start;
				background-position: center left 30rem;
			}

			@include media-query(desktop) {
				padding: 0 8rem;
				background-position: center right;
			}

		}
		&--carbon {
			@include center;
			background-image: url("../imgs/products/carbon/header.png");
			background-position: center bottom;
		}
		&--yoga {
			@include side;
			background-image: url("../imgs/products/yoga/header.png");
			@include media-query(tablet) {
				background-position: center right 8rem;
			}
		}
		&--tablet {
			@include center;
			background-image: url("../imgs/products/tablet/header.png");
			background-size: contain;
			background-position: center bottom 3.4rem;

			@include media-query(tablet) {
				background-size: contain;
				background-position: center top 13rem;
			}
			@include media-query(desktop) {
				background-size: auto;
			}			
		}
		&--thinkcentre {
			@include side;
			background-image: url("../imgs/products/thinkcentre/header.png");
			@include media-query(desktop) {
				background-position: center right 8rem;   
			}
		}
	}

	@include media-query(tablet) {
		&__header {
			height: 50%;
		}
		&__content {
			height: 30vw;
		}
	}
}
