.product-panel {
	$parent: &;
	height: 50%;

	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 30vh;

	&--features {
		background-color: color(black);
		background-size: cover;
		color: color(white);

		#{$parent}__button {
			background-color: transparentize(color(white), 0.7);

			&:hover {
				background-color: transparentize(color(white), 0.6);
			}
		}
	}

	&--personas {
		background-color: color(white);
		background-size: contain;
		color: color(red);
	}

	&__button {
		@include button;
		min-width: 17rem;
		margin: auto;

		position: absolute;
		left: 50%;
		top: 50%;

		text-align: center;

		background-color: transparentize(color(white), 0.3);

		transform: translate(-50%, -50%);

		&:hover {
			background-color: transparentize(color(white), 0.2);
		}
	}

	@include media-query(tablet) {
		padding: 0;
		height: 100%;
		float: left;
		width: 50%;
	}
}
