{{#if meta.previous}}
	<a href="{{relative_link meta.previous}}" class="nav-button nav-button--previous">Previous Section</a>
{{/if}}
{{#if meta.next}}
	<a href="{{relative_link meta.next}}" class="nav-button nav-button--next">Next Section</a>
{{/if}}
