<div id="slider" class="slider">
	<ul id="slider-container" class="slider__container">
		<li class="slider__item">
			<figure class="slide">
				<img class="slide__image" src="{{relative_link 'imgs/carousel/carbon.png'}}" alt="Lenovo ThinkPad X1 Carbon">
				<figcaption class="slide__caption">ThinkPad X1 Carbon</figcaption>
			</figure>
		</li>
		<li class="slider__item">
			<figure class="slide">
				<img class="slide__image" src="{{relative_link 'imgs/carousel/yoga.png'}}" alt="Lenovo ThinkPad X1 Yoga">
				<figcaption class="slide__caption">ThinkPad X1 Yoga</figcaption>
			</figure>
		</li>
		<li class="slider__item">
			<figure class="slide">
				<img class="slide__image" src="{{relative_link 'imgs/carousel/tablet.png'}}" alt="Lenovo ThinkPad X1 Tablet">
				<figcaption class="slide__caption">ThinkPad X1 Tablet</figcaption>
			</figure>
		</li>
		<li class="slider__item">
			<figure class="slide">
				<img class="slide__image" src="{{relative_link 'imgs/carousel/thinkcentre.png'}}" alt="Lenovo ThinkCentre X1">
				<figcaption class="slide__caption">ThinkCentre X1</figcaption>
			</figure>
		</li>
	</ul>
	<ul id="slider-crumbs" class="slider__crumbs">
		<li class="slider__crumb slider__crumb--active"><button class="slider__button" data-index="0">&nbsp;</button></li>
		<li class="slider__crumb"><button class="slider__button" data-index="1">&nbsp;</button></li>
		<li class="slider__crumb"><button class="slider__button" data-index="2">&nbsp;</button></li>
		<li class="slider__crumb"><button class="slider__button" data-index="3">&nbsp;</button></li>
	</ul>
</div>
